@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-24;
    line-height: 150%;
  }
  h2 {
    @apply text-20;
    line-height: 150%;
  }
  h3 {
    @apply text-18;
    line-height: 150%;
  }
  h4 {
    @apply text-14;
    line-height: 150%;
  }
  h5 {
    @apply text-12;
    line-height: 150%;
  }
  h6 {
    @apply text-12;
    line-height: 150%;
  }
  p {
    @apply text-16;
    line-height: 150%;
  }
}

.wrap-fit {
  @apply absolute top-0 left-0 w-full h-full;
}

.img-fit {
  @apply absolute absolute-center object-cover min-h-full min-w-full pointer-events-none;
}

@import '_font.css';
@import '_button.css';
@import '_input.css';

@import "~swiper/swiper-bundle.min.css";

.bg-backdrop {
  backdrop-filter: blur(3px);
}

.bg-video-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

@media screen and (max-width: 768px) {
  [x-cloak="mobile"] {
      display: none;
  }
}

.absolute-center {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.underline {
  text-underline-offset: 3px;
}

.max-w-1920 {
  overflow-x: hidden !important;
}

.bg-paroller {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
}
